<!DOCTYPE html>
<html>
<head>
  <title>Alchemy mission control jobs</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= yield :head %>

  <%= stylesheet_link_tag    "alchemy/mission_control/jobs/application", media: "all" %>
</head>
<body>

<%= yield %>

</body>
</html>
